* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/daundaun22.jpg') no-repeat center center/cover;
}


.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Kiri */
.left-panel {
  flex: 1;
  background: #2e7d32;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-panel img {
  width: 80%;
  margin-top: 20px;
  border-radius: 10px;
}

/* Kanan */
.right-panel {
  flex: 1;
  padding: 40px;
  background: #f1f8e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 350px;
}

.form-box h2 {
  margin-bottom: 20px;
  color: #2e7d32;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #1b5e20;
}

.links {
  margin-top: 15px;
  text-align: center;
}

.links a {
  display: block;
  color: #2e7d32;
  text-decoration: none;
  margin: 5px 0;
}

.links a:hover {
  text-decoration: underline;
}


.error-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}
